<div id="switch">
    <div class="selector on" data-view="skills">Skills</div>
    <div class="selector" data-view="sites">Sites</div>
    <div class="selector" data-view="code">Code</div>
</div> 
<div id="switchView">
        <div id="skills" style="display:block;" >
            <h4>Programming the tubes since Napster was cool.</h4>
            <h5>(8 years professionally)</h5>
            <div>C#</div>
            <div>SQL</div>
            <div>.NET</div>
            <div>MVC 2/3/4</div>
            <br />
            <div>JavaScript</div>
            <div>jQuery</div>
            <div>IIS7/8</div>
            <div>CSS3</div>
            <br />
            <div class="two-line">Entity Framework</div>
            <div>HTML5</div>
            <div>PHP</div>
            <div>Ruby</div>
        </div>
        <div id="sites">
            <img src="/content/kopps.jpg" class="thumb rounded" />
        </div>
        <div id="code">
           <pre> <code>
                <h1>Hello world!</h1>
            </code>
               </pre>
        </div>
    </div>