<div class="dustinContainer">
    <h3>Hey there!</h3>
    <h2>I'm Dustin.</h2>
    <h3>I live in Denver, Colorado.</h3>
    <h5>I haven't always lived here, though.</h5>
    <h4>Born and raised in Wisconsin until 25. </h4>
    <h5>I lived on a sailboat in Key West, on Biggie's block in Brooklyn, and in Austin, Texas.</h5>
    <h4>I've hiked the Appalachian Trail,</h4>
    <h5>motorycled 30,000 miles around the US,</h5>
    <h4>&</h4>
    <h5>I've been programming since Geocities was a thing.</h5>
    @*<h3>&</h3>
    <h4>motorcycled 30,000 miles around the US.</h4>*@
</div>